/* Responsive menu button */
.responsive-btn {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
    
.menu-line {
    background: #323232;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    margin: 3px 0;
}
/* Responsive menu button */

.close-btn {
    display: none !important;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-size: 30px !important;
    cursor: pointer;
    color: white;
}

.close-btn:hover {
    opacity: 0.7;
}


@media(max-width: 1100px) {
    .hero {
        margin-top: 94px;
    }

    .hero .name {
        font-size: 48px;
    }
        
    .service-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 48px;
    }
}


@media(max-width: 900px) {
    .hero .name {
        font-size: 32px;
        margin-bottom: 14px;
    }

    .hero .message-01 {
        font-size: 12px;
    }

    .about-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 48px;
        }
    
    .about-text {
        margin: 0px 32px;
    }
}


@media screen and (max-width: 768px) {
    .main-wrapper {
        row-gap: 88px;
    }
    .section-title {
        margin-bottom: 40px;
    }

    .responsive-btn {
        display: flex;
    }

    .header-nav {
        background: #323232;
        width: 100%;
        height: 100vh;
        padding: 100px 0 0 0;
        position: fixed;
        top: 0;
        right: -100%;
        transition: .5s;
    }

    .header-nav-lists {
        display: block;
        text-align: center;
    }

    .header-nav-lists li {
        margin: 0 0 40px;
        text-align: center;
    }

    .nav-link {
        font-size: 20px;
        color: #fff;
    }
    
    .header-contents {
        padding: 24px 24px;
    }

    .header-contents h1 {
        font-size: 20px;
    }

    .cta {
        margin-left: 24px;
    }

    .responsive-btn:hover {
        opacity: 0.7;
    }

    .menu-active {
        right: 0;
    }

    .menu-active .close-btn {
        display: inline-block !important;
    }

    .hero .name {
        font-size: 24px;
        margin-bottom: 12px;
    }
    
    .hero .message-01 {
        display: none;
    }

    .hero .message-02 {
        display: flex;
        font-size: 12px;
    }
}

@media(max-width: 590px) {
    .header-contents {
        padding: 20px 20px;
    }

    .header-contents h1 {
        font-size: 16px;
        margin-right: 20px;
    }

    .cta {
        margin-left: 20px;
        font-size: 14px;
        padding: 8px 32px;
    }

    .hero .name {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .hero .message-02 {
        font-size: 10px;
    }
}

@media(max-width: 450px) {
    .hero .name {
        margin-bottom: 8px;
    }
    
    .hero .message-02 {
        font-size: 8px;
    }
}

@media(max-width: 375px) {
    .hero .name {
        margin-bottom: 6px;
    }
    
    .hero .message-02 {
        font-size: 7px;
    }
}