/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Noto Sans JP";
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 160px;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    color: #2FAC9E;
    transition: all .5s;
}

/* .section-title */
.section-title {
    text-align: center;
    margin-bottom: 64px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    scroll-margin-top: 120px;
}

.section-title p {
    font-size: 14px;
    font-weight: bold;
    color: #296A65;
}


/* .top-wrapper */
.top-wrapper {
    max-height: 720px;
    position: relative;
}

/* header */
.header-bg {
    width: 100%;
    height: 94px;
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}

.header-contents h1 {
    font-size: 24px;
    font-weight: bold;
}

.header-nav {
    margin-left: auto;
}

.header-nav-lists {
    display: flex;
    font-size: 16px;
    gap: 40px;
    list-style: none;
    }

.btn {
    display: inline-block;
    color: white;
    background-color: #296A65;
    font-size: 16px;
    padding: 10px 48px;
    border-radius: 50px;
}

.cta {
    margin-left: 48px;
}
    
.btn:hover {
    background-color: #2FAC9E;
    transition: all .5s;
}
/* header */


/* hero */
.hero {
    height: auto;
    width: 100%;
    padding-top: 50%;
    background-image: url(./image/MV.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero .contents {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero .name {
    font-size: 64px;
    margin-bottom: 16px;
    color: white;
}

.hero .message-01,
.hero .message-02 {
    font-size: 14px;
    color: white;
}

.hero .message-02 {
    display: none;
}
/* hero */


/* Service */
.service-contents {
    display: flex;
    justify-content: center;
    column-gap: 64px;
    text-align: center;
    margin: 0px 32px;
}

.service-item {
    text-align: center;
}

.service-icon {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
}

.service-icon .circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #296A65;
    margin-bottom: 24px;
}

.service-icon img {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 88px;
    height: 88px;
}

.service-item h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.service-item p {
    width: 300px;
    font-size: 14px;
    text-align: left;
}


/* .works-wrapper */
.works-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 64px;
    padding: 0 32px;
    margin-bottom: 80px;
}

.works-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: calc(100%/3);
    box-sizing: border-box;
}

.works-item img {
    width: 100%;
    height: auto;
}

.works-item p {
    text-align: left;
}

.works-item .pj-name {
    font-size: 18px;
    font-weight: bold;
}

.works-item .tag {
    width: fit-content;
    font-size: 14px;
    padding: 2px 8px;
    margin: 0;
    border-radius: 4px;
    background-color: #EEEEEE;
}

.works-wrapper .btn {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* .about-wrapper */
.about-wrapper {
    background-color: #EEEEEE;
    padding: 80px 0 120px 0;
}

.about-contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-contents img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 4px 0px #CCC;
    border-radius: 50%;
    margin: 0 32px;
}

.about-text h3 {
    font-size: 32px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 16px;
}

.about-text {
    font-size: 16px;
    max-width: 480px;
    margin-left: 64px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #296A65;
}

footer p {
    color: white;
    font-size: 14px;
    margin: 10px 40px;
    text-align: right;
}